./change 10
./change 100
./change 101
./change 13
./add 1 1
./add 1 10 100 1000
./add 1 2 3 e 4 5
./add
./mul 2 3
./mul 2 -3
./mul 2 0
./mul 245 3245342
./mul
./args 
./nargs 
./nargs hello
./nargs "hello, world"
./nargs hello, world
./mynameis 
./mynewnameis
