mynameis
mynewnameis
nargs
nargs hello
nargs "hello, world"
nargs hello, world
args 
args You can do anything, but not everything.
mul 2 3
mul 
mul 2 -3
mul 2 0
mul 245 3245342
add 1 1
add 
add 1 10 100 1000
add 1 2 3 e 4 5
change
change 10
change 101
change 100
change 13

